<?xml version="1.0"?>
<ruleset name="Symfony project">

    <description>Coding standard for Symfony project</description>

    <file>.</file>

    <arg value="s" />
    <arg name="colors" />
    <arg name="extensions" value="php" />

    <rule ref="PSR1">
        <exclude name="PSR1.Classes.ClassDeclaration.MissingNamespace" />
        <exclude name="PSR1.Classes.ClassDeclaration.MultipleClasses" />
        <exclude name="PSR1.Files.SideEffects.FoundWithSymbols" />
    </rule>
    <rule ref="PSR2" />
</ruleset>